.leads-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  z-index: 3;
}

.leads-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 24rem; 
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: white;
}

.leads-input {
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.2s, outline 0.2s;
}

.leads-input:focus {
  outline: 2px solid #33075F;
}

.input-error {
  border-color: #f87171;
}

.leads-checkbox {
  width: 36px;
  height: 36px;
  cursor: pointer;
  accent-color: #33075F;
}

.leads-footer {
  text-align: center;
  font-size: 0.75rem;
  color: #9ca3af;
}

@media screen and (max-width: 639px) {
  .leads-form {
    max-width: 90%;  
  }
}